.track-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e3f8ff;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.dropdown-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80%;
}

.dropdown-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 120px; /* Set a fixed width for the button */
  text-align: center; /* Center text horizontally */
  white-space: nowrap; /* Prevent text wrapping */
 
}

.dropdown-button.dropdown-selected {
  background-color: #0056b3; /* Darker blue when active */
  color: white;
  border-radius: 5px; /* Reapply border-radius to avoid override issues */
}

.dropdown-button:hover {
  background-color: #0056b3;
  border-radius: 5px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  z-index: 1;
  border-radius: 5px;
  justify-content: center;
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.graph-container {
  width: 80%;
  max-height: 76%; /* Limit the max height */
  height: auto;
  text-align: center;
  overflow: hidden; /* Prevent content overflow */
}

.graph-container canvas {
  max-height: 100%; /* Ensure the chart doesn't exceed the container */

}

.graph-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.graph-container p {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

.statistics {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  
}




/* When graphData is available (graph is rendered) */
.dropdown-container.dropdown-active {
  height: auto; /* Adjust height dynamically */
}






  
  /* Animation for dropdown visibility */
@keyframes dropdown-slide {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .dropdown-content {
    animation: dropdown-slide 0.3s ease;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .dropdown-container {
      margin-top: 10px;
    }
  
    .dropdown-button {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  